
.container {
    width: 100%;
    justify-content: space-around;
    display: flex;
    color: white;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

.covid-card {
    margin: 20px;
    height: 230px;
    width: 350px;
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.text-one p{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

.one{
    font-size: 10px;
}
.two{
    font-size: 25px;
}